.activeClass {
    background: #56585c;
    border-radius: 3px;
    color: white;
    margin: 0px 0.2rem;
}

.activeClass:hover {
    background: #56585c;
    color: white;
    margin: 0px 0.2rem;
}

.navbarClass a {
    margin: 0px 0.2rem;
    border-radius: 3px;
}

.navbarClass a:hover {
    background: #56585c;
    color: white;
    margin: 0px 0.2rem;
}

#mydiv {
    border-radius: 4px;
    background-color: white;
    margin-right: 0.2rem;
    margin-top: 4.2rem;
}

.closeBtn {
    display: contents;
}

.closeImg {
    margin-left: 13rem;
}

.popover-arrow-wrapper {
    position: inherit;
    width: 0;
    height: 0;
}

.popover-arrow-wrapper::before {
    content: "";
    position: absolute;
    top: -24px;
    left: 11.5rem;
    z-index: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid black;
    }

  .popover-arrow {
    position: inherit;
    z-index: 1;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid white;
    margin-top: -23px; 
    margin-left: 11.5rem;
    }

    .logoutBtn {
        cursor: pointer;
    }

    .followImg {
        width: 1.5rem;
        margin: 0.3rem;
        cursor: pointer;
    }

    .footerClass {
        padding: 1rem 6rem;
        border-bottom: 1px solid white;
    }