<div class="container">
    <div class="row bookserviceRow justify-content-center">
        <div class="col-8 bookserviceCol">
            <div class="d-flex">
                <img src="assets/img/{{ selectesService.image }}" alt="{{ selectesService.name }}"
                    class="img-fluid serviceImg" />
                <div class="bookserviceText">
                    <span class="openSansBold fs-2">{{ selectesService.name }}</span>
                    <p class="openSansRegular fs-6 mt-3">{{ selectesService.description }}</p>
                    <span class="openSansRegular fs-6">{{ selectesService.time }} &nbsp;&nbsp; {{ selectesService.price }}</span>
                    <button class="btn btn-outline-warning rounded-1 border border-dark text-dark bookbtn mt-4"
                        id="searchBtn" type="button" (click)="checkService()">
                        {{ "bookService" | translate }}
                    </button>
                </div>
            </div>
            <hr class="mt-5" />
            <span class="fs-5 openSansSemiBold">{{ "serviceDescription" | translate }}</span><br><br>
            <p class="fs-6 openSansRegular">{{ selectesService.servicedescription }}</p>
            <hr class="mt-5" />
            <span class="fs-5 openSansSemiBold">{{ "contactDetails" | translate }}</span><br><br>
            <p class="fs-6 openSansRegular">{{ selectesService.contactDetails }}</p>
            <hr class="mt-5" />
        </div>
    </div>
</div>